/* General styles for the app */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin-top: 20px;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 60px 0 10px 0;
}

.header p {
  font-size: 1rem;
  color: #333;
  margin: 10px 0 10px 0;
}

.menu {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
  border-radius: 100px;
	height: 50px;
  width: 60%;
	display: inline-flex;
	background-color: rgba(0, 0, 0, .4);
	-webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
	align-items: center;
	padding: 0 10px;
	li {
		list-style: none;
		color: white;
		font-family: sans-serif;
		font-weight: bold;
		padding: 10px 20px;
		position: relative;
		cursor: pointer;
		white-space: nowrap;
		&::before {
			content: " ";
			position: absolute;
			top: 0;
			left:0;
			height:100%;
			width: 100%;
			z-index:-1;
			transition: .2s;
			border-radius: 25px;
		}
			&:hover {
				&::before {
					background: linear-gradient(to bottom, #e8edec, #d2d1d3);
						box-shadow: 0px 3px 20px 0px black;
						transform: scale(1.2);
				}
				color: black;
		}
	}
}


.menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.menu a:hover {
  text-decoration: underline;
}

/* Upload box styles */
.upload-box {
  margin: 20px;
  padding: 20px;
  border: 2px dashed #6200ea;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  width: 300px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.upload-box.dragging {
  background-color: #e3e3ff; /* Highlight during drag */
  border-color: #3700b3;
}

.file-input {
  display: none;
}

.upload-box:hover {
  border-color: #3700b3;
  cursor: pointer;
}

/* Button group styles */
.button-group {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #6200ea;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3700b3;
}

/* Image preview styles */
.image-preview {
  margin-top: 20px;
  text-align: center;
}

.image-preview img {
  max-width: 100%;
  max-height: 300px;
  border: 1px solid #6200ea;
  border-radius: 5px;
}

.box {
  width: 800px;
  height: auto;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px; 
  margin: 50px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.box-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 15px;
}

.box-text {
  font-size: 14px;
  color: #555;
  margin: 10px 0;
}

/* ----------------------------------- Toast Message   ----------------------------------- */

#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img{
width: 100px;
height: 50px;
  
  float: left;
  
  padding-top: 16px;
  padding-bottom: 16px;
  
  box-sizing: border-box;

  
  background-color: #111;
  color: #fff;
}
#toast #desc{
  color: #fff;
  padding: 16px;
  overflow: hidden;
white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 50px} 
  to {min-width: 350px}
}

@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}
@-webkit-keyframes stay {
  from {min-width: 350px} 
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}
@-webkit-keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}